<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AI</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for
('static', filename='style.css') }}">
</head>
<body>
    <div class="title-section">
        <h1> Boulder Bot</h1>
    </div>
    <div id="button-box" class="hidden">
        <div class="response" id="response">
        </div>
        <form id="form" class="ask" method="POST" action="/ask">
            <div class="form_group">
                <textarea class="ai_ask" type="text" id="question" name="question" placeholder="Ask a question...."></textarea>
                <button id="submit-button"></button>
            </div>
        </form>
    </div>
    <button id="show-button-box"></button>
</body>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
