.ask {
    display: flex;
    align-items: center;
}

body {
    margin: 50px;
    font-family: Arial, sans-serif;
}

#show-button-box {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 15px 15px;
    background-color: gray;
    color: white;
    border: 2px solid black;
    border-radius: 50px;
    cursor: pointer;
    font-size: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

#button-box {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 240px;
    padding: 15px;
    background-color: gray;
    color: white;
    border-radius: 10px;
    border: 2px solid black;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    text-align: center;
    display: none;
}

#exit-boulderBot {
    
}

.response{
    word-wrap: break-word;
    max-height: 300px;
    overflow-y: auto;
}

.hidden {
    display: none;
}

#submit-button {
    width: 20px;
    height: 20px;
    background-image: url('imgs/Arrow2.PNG');
    background-size: 20px;
    border: none;
    border-radius: 50px;
    display: flex;
    /* align-items: center; */
    justify-content: center;
}

.ai_ask {
    outline: none;
    background-color: transparent;
    border: none;
    color: rgb(255, 255, 255);
    width: 205px;
    height: 20px;
    resize: none;
    max-height: 150px;
    font-family: Arial, sans-serif;
}

.ai_ask::placeholder {
    color: #ccc;
}

.form_group {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    border: .5px solid #ccc;
    padding: 5px;
    border-radius: 10px;
    gap: 5px; /* Space between textarea and button */
    width: 100%;
    max-width: 500px;
}

#submit-button:disabled {
    background: transparent;
}

#form{
    padding-top: 5px;
    background-color: rgb(128, 128, 128);
}
